h1,h2,h3,h4{
    font-family: 'Dancing Script', cursive;

}
.title h1{
    font-size: 60px;
}

.card-img{
   
opacity: 0.5;

}
.card-img-overlay .card-title{
   position: absolute;
   top:35%;
   left: 30%;
   transform: translate(-50,-50%);
}
.nav-link{
    font-size: 20px;
}
hr{
    border-top: 4px dotted green;
}