nav {
    background-image:url('img/bgnv.jpg');
}
h1,h2{
    font-family: 'Dancing Script', cursive;

}
h3,h4,h6,p{
    font-family: 'Times New Roman', Times, serif;
}

.title h1{
    font-size: 60px;
}


.nav-link{
    font-size: 20px;
}
.title hr{
    border-top: 4px dotted green;
}
.accordion-body a:link {
    color: black;
   
    
    text-decoration: none;
  } 

  .btn-card{
    width: 100%;
  }
  
.owl-carousel .item{
	padding: 30px 0px;
	margin: 10px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}
.owl-example .item img{
	width: auto;
	margin: 0 auto;
	display: block;
}
.owl-example .item h3{
	font-size: 28px;
	font-weight: 300;
	margin: 25px 0 0;
    color: black;
}
.owl-example .item h4{
	margin: 5px 0 0;
	font-size: 18px;
}
.item h1{
	margin: inherit;
}

.rounded-image{
    border-radius: 15px;
}

<<<<<<< HEAD
=======

<<<<<<< Updated upstream
>>>>>>> 6eb3a8bcc2d7b15cef694ae7a1cb08a338282619
.about{
	width: 100px;
}

@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.contact4 {
  font-family: "Montserrat", sans-serif;
	color: #8d97ad;
  font-weight: 300;
}

.contact4 h1, .contact4 h2, .contact4 h3, .contact4 h4, .contact4 h5, .contact4 h6 {
  color: #3e4555;
}

.contact4 .font-weight-medium {
	font-weight: 500;
}

.contact4 .form-control {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.contact4 .form-control:focus {
  border-color: #ffffff;
}

.contact4 input::-webkit-input-placeholder,
.contact4 textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.contact4 input:-ms-input-placeholder,
.contact4 textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.contact4 input::placeholder,
.contact4 textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.contact4 .right-image {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
}

.contact4.bg-info {
    background-color: #188ef4 !important;
}

.contact4 .text-inverse {
    color: #3e4555 !important;
}

@media (min-width: 1024px) {
	.contact4 .contact-box {
    padding: 80px 105px 80px 0px;
	}
}

@media (max-width: 767px) {
	.contact4 .contact-box {
    padding-left: 15px;
    padding-right: 15px;
	}
}

@media (max-width: 1023px) {
	.contact4 .right-image {
			position: relative;
			bottom: -95px;
	}
}


.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}